@{
	ViewData["Title"] = "سایت";
	Layout = "~/Views/Shared/Panel/_PanelLayout.cshtml";
}

<div class="row">
	<div class="col-xl">
		<div class="mb-4">
			<div id="map" style=" height: 500px;"></div>
		</div>
	</div>

</div>



@section scripts{
	<script>

		var mapOptions ={
			center : [20,80],
			zoom:15
		}


		var map = new L.map('map',mapOptions);

		var layer = new L.TileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png');

		map.addLayer(layer);

		var iconOptions = {
			iconUrl:'/map/images/marker-icon.png',
			iconSize:[50,50]
		}
		var firstIcon = L.icon(iconOptions);

		var markerOptions ={
			title:"First",
			clickable:true,
			draggable:true,
			icon:firstIcon
		}
		var marker = L.marker([20,80],markerOptions);

		marker.addTo(map);
	</script>
}