@model IEnumerable<Taxi.DataAccessLayer.Entites.Car>

@{
    ViewData["Title"] = "‌لیست ماشین ها";
    Layout = "~/Views/Shared/AdminPanel/_AdminPanelLayout.cshtml";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-2"><span class="text-muted fw-light">لیست /</span> ماشین ها</h4><br />
        <a asp-controller="Car" asp-action="Create" class="btn btn-light mb-2 btn-sm ">اضافه کردن ماشین</a>
        <a asp-controller="Car" asp-action="ImportFile" class="btn btn-light mb-2 btn-sm ">اضافه کردن اکسلی ماشین</a>

        <!-- Invoice List Table -->
        <div class="card" dir="rtl">
            <div class="card-datatable table-responsive">
                <table class="table border-top">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
                            <th scope="col"  class="text-center mr-3">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(Model => item.Name)</td>
                                <td class="text-center">
                                    <a href="/Car/Delete/@item.Id" class="btn btn-danger ms-1">حذف</a>
                                    <a href="/Car/Edite/@item.Id" class="btn btn-warning">ویرایش</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- / Content -->



    <div class="content-backdrop fade"></div>
</div>
