@model IEnumerable<Taxi.DataAccessLayer.Entites.RateType>

@{
	ViewData["Title"] = "‌اضافه کردن  امتیاز ";
	Layout = "~/Views/Shared/AdminPanel/_AdminPanelLayout.cshtml";
}
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="row">
			<div class="col-xl">
				<div class="card mb-4">
					<div class="card-header d-flex justify-content-between align-items-center">
						<small class="text-muted float-end">اضافه کردن </small>
					</div>
					<div class="card-body">
						<form method="post" asp-action="Create" asp-controller="RateType">
							<div class="mb-3">
								<label class="form-label" for="basic-default-fullname">نام امتیاز</label>
								<input name="Name" type="text" class="form-control" id="basic-default-fullname" placeholder="مثال سمند " />
							</div>			
							<div class="mb-3">
								<label class="form-label" > مثبت بودن</label>
								<input name="Ok" type="checkbox" id="basic-default-fullname" value="true" />
							</div>		
							<div class="mb-3">
								<label class="form-label" for="basic-default-fullname">نمایش امتیاز</label>
								<input name="ViewOrder" type="number" class="form-control" id="basic-default-fullname" />
							</div>
							<button type="submit" class="btn btn-primary">ثبت</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

